.ProductIntroductionSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    .content-left,
    .content-right {
        width: 50%;
        box-sizing: border-box;
    }

    .content-left {
        .image-container {
            height: 590px;
            width: 100%;
            user-select: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            h3 {
                font-size: 20px;
                text-transform: uppercase;
            }
        }
        .content {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
    .divider {
        width: 80%;
        height: 1px;
        background-color: #cecece;
        position: absolute;
        bottom: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .ProductIntroductionSection {
    }
}

@media screen and (max-width: 900px) {
    .divider {
        display: none;
     }  
    .about-wrapper {
        flex-direction: column !important;
        .about-img {
            display: flex !important;
            justify-content: center !important;
            width: 100% !important;
        }
        .about-content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .ProductIntroductionSection {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        .content-left,
        .content-right {
            width: 100%;
        }

        .content-left {
            .image-container {
                height: 600px !important;
                width: 100%;
                user-select: none;

                img {
                    height: 100% !important;
                    width: auto !important;
                    object-fit: contain;
                }
            }
        }

        .content-right {
            margin-top: -80px;
            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                h3 {
                    font-size: 18px;
                }
            }
            .content {
                font-size: 12px !important;
            }
        }
    }

    .divider {
       display: none;
    }
}
