.banner {
    width: 100%;
    // width: 1344px;
    height: 420px;
    background-color: #ccc;
    .container {
        width: 100%;
        .bannerImage {
            img {
                width: 100%;
            }
        }
    }
}
