@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    list-style: none;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #3a3637;
    --second-color: #a50808;
    --height-header: 80px;
    --vh: 5.08px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 15%;
    width: 100%;
}

.section-title {
    font-size: 38px;
    color: var(--second-color);
    font-weight: 600;
}

strong {
    font-weight: bolder;
}

body {
    overflow-x: hidden;
}

.contact-fixed {
    position: fixed;
    right: calc(12 / 1920 * 100rem);
    bottom: calc(96 / 1920 * 100rem);
    z-index: 50;

    @keyframes shake {
        0% {
            transform: rotate(0) scale(1) skew(1deg);
        }
        10% {
            transform: rotate(-15deg) scale(1) skew(1deg);
        }

        20% {
            transform: rotate(15deg) scale(1) skew(1deg);
        }
        30% {
            transform: rotate(-15deg) scale(1) skew(1deg);
        }
        40% {
            transform: rotate(15deg) scale(1) skew(1deg);
        }
        50% {
            transform: rotate(0) scale(1) skew(1deg);
        }
        100% {
            transform: rotate(0) scale(1) skew(1deg);
        }
    }
    ul {
        li {
            margin-top: 8px;
            width: calc(60 / 1920 * 100rem);
            height: calc(60 / 1920 * 100rem);
            font-size: calc(24 / 1920 * 100rem);

            --tw-bg-opacity: 1;
            --tw-text-opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: ctaPhoneRing 1s infinite ease-in-out;
            transition-duration: 150ms;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            border-radius: 9999px;
            background-color: rgb(35 31 32 / var(--tw-bg-opacity));
            width: calc(48 / 1920 * 100rem);
            height: calc(48 / 1920 * 100rem);
            overflow: hidden;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            font-size: calc(20 / 1920 * 100rem);

            img {
                width: 34px;
                height: 22px;

                animation: shake 1s infinite;
            }
        }
    }
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
@media (min-width: 1200px) {
    .contact-fixed {
        right: calc(40 / 1920 * 100rem);
        bottom: calc(60 / 1920 * 100rem);
    }
}
@media (min-width: 768px) {
    .contact-fixed {
        bottom: calc(20 / 1920 * 100rem);
    }
}
