.BrandStory {
    width: 100%;
    margin-bottom: 20px;
    .container {
        width: 100%;

        display: flex;
        flex-wrap: wrap-reverse;
        .contentLeft {
            transform: none;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .imgContainer {
                width:65%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .contentRight {
            width: 50%;
            margin-top: 90px;

            .contentText {
                width: 600px;
                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: calc(24 / 1920 * 170rem);
                }
                h3 {
                    font-size: 30px;
                    margin: 20px 0;
                    font-family: 'Playball', serif;
                    color: var(--second-color);
                    font-weight: 300;
                }
                .desc {
                    --tw-text-opacity: 1;
                    color: rgb(36 32 33 / var(--tw-text-opacity));
                    font-weight: 400;
                    line-height: 1.25;

                    margin-top: calc(20 / 1920 * 100rem);
                    margin-bottom: calc(20 / 1920 * 100rem);

                    p {
                        margin-top: calc(20 / 1920 * 100rem);
                        margin-bottom: calc(20 / 1920 * 100rem);
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .BrandStory {
        .container {
            .contentLeft {
                width: 100% !important;
                display: flex;
                justify-content: center !important;
                align-items: center;
                margin: 0 20%;
                .imgContainer {
                    width: 100% !important;
                }
            }
            .contentRight {
                width: 100% !important;
                padding: 0 5%;
                .contentText {
                    width: 100% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .BrandStory {
        .container {
            .contentLeft {
                width: 100% !important;

                .imgContainer {
                    width: 100% !important;
                }
            }
            .contentRight {
                width: 100% !important;
                padding: 0 10%;
                .contentText {
                    width: 100% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .BrandStory {
        .container {
            .contentLeft {
                width: 100% !important;
                .imgContainer {
                    width: 100% !important;
                    img {
                        width: 100% !important;
                    }
                }
            }
            .contentRight {
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .BrandStory {
        .container {
            .contentLeft {
                .contentText {
                }
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
                .imgContainer {
                    width: 80% !important;
                    img {
                    }
                }
            }
            .contentRight {
           
            }
        }
    }
}
